body{
	background-color: #BFBFBF;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

main {
	background-color: #FBFBFB;
	width: 400px;
	height: 300px;
	border: solid 10px white;
	border-radius: 6px;
	padding-top: 85px;
	margin: 100px auto;
}

.button {
	margin: 15px auto;
	position: relative; 
	text-align: right;
	padding: 9px;
	width: 223px;
	background-repeat: no-repeat;
	background-position: 20px center;

	
}

.button.twitter {
	background-color: #55ACEE;
	background-image: url(Icons/Twitter_logo_white_60px.png);
}

.button.facebook {
	background-color: #4464A2;
	background-image: url(Icons/Facebook_logo_white_60px.png);
}

.number {
	width: 130px;
	display: inline-block;
	background-color: rgba(0,0,0,0.16);
	color: #FFF;
	font-size: 36px;
	padding: 12px 0;
	position: relative;
	text-align: center;
}

.number:before {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 14px solid  rgba(0,0,0,0.16);
	position: absolute;
	top: 50%;
	left: -14px;
	margin-top: -8px;
}



